*{
    padding: 0;
    margin: 0;
}

.imageContainer{
    height: 400px;
    width: 400px;
    border: 1px solid gray;
}


.imageOfHokage{
    height: 400px;
    width: 400px;
}


.informationContainer{
    position: absolute;
    color: white;
    background-color: black;
    /* opacity: .6; */
    height: 200px;
    width: 400px;
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: column;
}

.imageContainer{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
}

.objectContainer{
    display: flex;
    align-items: flex-end;
    margin: 5px;
}

.container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.nameOfHokage{
    text-align: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bolder;
}

.infoOfHokage{
    padding: 5px;
    /* width: 400px; */
}
